@model PlantsStore.Models.Purchase
@{
    ViewBag.Title = "Купівля рослини";
}

    <div>
        <h3>Форма оформлення купівлі</h3>
        @using (Html.BeginForm("Buy", "Home", FormMethod.Post))
        {
            @*<input type="hidden" name="PlantId" value="@ViewBag.PlantId" />*@
            @Html.HiddenFor(m => m.PlantId)
            <table>
                <tr>
                    <td><p>@Html.LabelFor(m => m.Person,"Введіть ім'я")</p></td>
                    <td>@Html.TextBoxFor(m => m.Person)</td>
                </tr>
                <tr>
                    <td><p>@Html.LabelFor(m => m.Address, "Введіть адресу")</p></td>
                    <td>@Html.TextBoxFor(m => m.Address)</td>
                </tr>
                <tr><td><input type="submit" value="Надіслати" /></td></tr>
            </table>
        }
    </div>

